{{- if and (eq .Values.toolkit.name "platform") (.Values.config.platform) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-platform" (include "helm.name" .) }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
data:
  # Legacy asdf .tool-versions file (mise sort of supersedes this)
  {{- if .Values.config.platform.tool_versions }}
  .tool-versions: |
      {{- .Values.config.platform.tool_versions | nindent 4 }}
  {{- end }}
  # Devbox devbox.json file
  {{- if .Values.config.platform.devbox_json }}
  devbox.json: |
      {{- .Values.config.platform.devbox_json | nindent 4 }}
  {{- end }}
  # Mise mise.toml file
  {{- if .Values.config.platform.mise_toml }}
  mise.toml: |
      {{- .Values.config.platform.mise_toml | nindent 4 }}
  {{- end }}
{{- end}}
